<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Model Validation</title>
    <link asp-href-include="/lib/bootstrap/dist/**/*.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>
<body class="panel-body">
    @RenderBody()
</body>
</html>
