<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>
<body class="panel-body">
    <div class="bg-primary panel-body">
        <div class="row">
            <div class="col-xs-7"><h1>Products</h1></div>
            <div class="col-xs-5">
                @await Component.InvokeAsync("ComboComponent")
            </div>
        </div>
    </div>
    <div class="panel-body">@RenderBody()</div>
</body>
</html>
